@import '../styles/utils';

.SassComponent {
    display: flex;
    //외부기능 컬러선택 추가
    // 미디어 반응형 쉽게 해주는 기능
    background: $oc-gray-8;

    @include media('<768px') {
      background: $oc-gray-9;
    }

    .box {
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
            
        // 첫 번째 박스에 배경색 적용
        &:first-child {
            background: $indigo;
        }

        // 마지막 박스에 배경색 적용
        &:last-child {
            background: $violet;
        }


        &.red {
            @include square(1);
        }

        &.orange {
            background: $orange;
            @include square(2);
        }

        &.yellow {
            background: $yellow;
            @include square(3);
        }

        &.green {
            background: $green;
            @include square(4);
            border: $blue, 4px, solid;
        }

        &.blue {
            background: $blue;
            @include square(5);
        }

        &.indigo {
            background: $indigo;
            @include square(6);
        }

        &.violet {
            background: $violet;
            @include square(7);
        }

        &.pink {
            background: $pink;
            @include square(8);
            &:hover {
                background: white;
            }
        }

        &.last {
            @include square(9);
        }

        &:hover {
            background: black;
        }
    }
}